
/*css reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.icon{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    cursor: pointer;
}
/*===============================*/
/*background*/
#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(70%) contrast(150%);
  }
/*================================*/

/*container*/

.container{
    display: flex;
    flex-direction: column;
}
/*=================================*/




/*navbar*/
.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 25px;
}
.title-container{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
.title{
    font-size: 1.6rem;
    border-bottom:red 5px solid ;
    box-shadow: 0 0 7px black;
    padding: 10px;
    cursor: pointer;
}
#lion{
    color: red;
}
.nav-content{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}
.nav-content p{
    margin: 10px;
    font-weight: 900;
    box-shadow: 0 0 7px black;
    padding: 5px;
    align-self: center;
    transition: .2s;
}
.nav-content p:hover{
    color: red;
    cursor: pointer;
}
/*====================================================*/


/*main-content*/
.website-description{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 1000;
    max-width: 90%;
    margin: 10px;
}
.explanation{
    width: 60%;
    align-self: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    opacity: 80%;
}
.started-btn{
    background-color: red;
    border: transparent;
    width: 100px;
    height: 40px;
    color: white;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    transition: .2s;
}
.started-btn:hover{
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}
.social{
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.social i{
    font-size: 1.5rem;
    color: white;
    margin: 5px;
    transition: .2s;
}
.social i:hover{
    color: red;
    cursor: pointer;
}
.contact{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.contact p{
    padding: 10px;
    background-color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 1.1rem;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    transform-origin: center;
    transition:.2s
}
.contact p:hover{
    color: red;
    cursor: pointer;
    background-color: transparent;
}
/*========================================================*/









/*media-query*/
@media (max-width:480px){
    .nav-content{
        display: none;
    }
    #background-video{
        width: 100%;
        object-fit: cover;
    }
    .icon{
        margin-left: 0%;
    }
    .navbar{
        margin: 5px;
    }
}
/*====================================*/











/*key frames*/
@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
/*======================================================================*/